<div class="container fade-in two" style="margin-top:30px">

    <div class="row">
    <br/>
    <br/>
        <div class="col-lg-12">
            <h3 style="font-weight:800">Tentang
                <small>{ KodeAjaib Lab }</small>
            </h3>
         	<hr/>
        </div>

    </div>

    <div class="row">
       
        <div class="col-md-8">
            

        <p style="text-align:justify;font-size:16px">
            KodeAjaib{lab} merupakan website pembelajaran bagi para pemula dalam membuat suatu aplikasi
            (website atau mobile) ,dari pengenalan hingga proses akhir dari sebuah aplikasi.
        </p>
        <h4 style="font-size:18px;font-weight:bold">Sedikit Cerita</h4>
        <p style="text-align:justify;font-size:16px">
            Blog ini dibuat pada tahun 2014 namun berbagai kendala menghadang sehingga proses pembuatan blog ini sempat terhenti
            hingga pada akhirnya pada bulan januari 2016 blog ini rampung diselesaikan .
            Setelah melakukan berbagai macam proses trial , hingga akhirnya blog ini di publikasikan ke hal layak. 
         </p>

            <p style="text-align:justify;font-size:16px">
            Tujuan utama dari blog ini adalah untuk memberikan pengetahuan dan pembelajaran bagi siapa saja yang ingin mengetahui
            bagaimana cara dalam membangun sebuah aplikasi khususnya aplikasi <i>web base</i>  maupun aplikasi <i> mobile </i>, sehingga para tim kami memberikan suatu kemudahan dari segi penjelasan hingga contoh code dalam membangun aplikasi tersebut.
            </p>

            <p style="text-align:justify;font-size:16px">
            Blog ini diperuntukan bagi siapa saja yang ingin belajar membangun sebuah aplikasi web base atau mobile , baik dari level pemula hingga profesional. Dalam tutorial yang kami berikan , kami tidak memungut biaya sepeserpun dalam pembelajaran yang ada pada blog ini, karena bagi kami share ilmu lebih mahal harganya . Terimah kasih , Selamat Bersenang - senang.
            </p>


        </div>


    </div>

 </div>
<!-- /.container -->
