
<div class="section">

<div class="col-md-12 jumbo-bg bg2" style="margin-top:30px;">
<div class="container">
<div class="row">
<br/>

 <div class="col-sm-6">
   <div class="container animated fadeInDown">
    <div class="row">

    <img src="images/port1.png">
      
    </div>
   </div>
  </div>

  <div class="col-sm-6 animated fadeInRight" style="padding-top:40px;">
    <br/>
    <h3 class="judul-1">KodeAjaib LAB</h3>

    <p class="paragraf-depan">Merupakan pusat pembelajaran dalam pembuatan website dan hybrid aplikasi untuk android & ios ,
    dengan menggunakan beberapa framework yang cukup dinamis dan mudah dalam mengembangkan website maupun hybrid aps.</p>

    <p><small style="color:#fff"> 
    “Learning the art of programming, like most other disciplines, consists of first learning the rules and then learning when to break them.”
    ― Joshua Bloch, Effective Java Programming Language Guide </small> </p>

    <p>
        <a class="btn btn-xs btn-default" href="https://github.com/kodeajaib/lab">
        <i class="fa fa-github" style="color:#323232;font-size:12px"></i> <strong style="font-size:8px;color:#323232">Fork On Github</strong>
        </a>
        &nbsp
        <a class="btn btn-xs btn-default" href="#" style="background:#1da1f2">
        <i class="fa fa-twitter" style="color:#fff;font-size:12px"></i> <strong style="font-size:8px;color:#fff">Follow Us</strong>
        </a>
        &nbsp
        <a class="btn btn-xs btn-danger" href="https://www.youtube.com/channel/UCoI6Vo0jaATinkRYUF_4NwQ">
        <i class="fa fa-youtube-play" style="color:#fff;font-size:12px"></i> <strong style="font-size:8px;color:#fff">Subscribe Us</strong>
        </a>
   </p>
 
  </div>

 


</div>
</div>
</div>
</div>


<div class="section" style="background:#eee">

    <div class="container">

        <div class="row">

          <br/>

          </div><!-- /.row -->
          
    </div><!-- /.container -->
    

</div>
<!-- /.section -->







